@{
    Layout="_Layout_Deslogado";
    ViewData["Title"] = "Página Restrita";
}
<p> Você não tem permissão para essa funcionalidade,<a asp-controller="Home" asp-action="Index">Clique aqui para voltar</a></p>