@{
    Layout="_Layout_Deslogado";
    ViewData["Title"] = "Página Restrita";
}












<p> Você não tem permissão para essa funcionalidade,<a asp-controller="Home" asp-action="Index"><strong>Clique aqui para voltar</strong></a></p>